body {
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 30px;
    background-color: #006400;
}
header * {
    display: inline;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header li {
    list-style-type: none;
    margin: 10;
    padding: 0;
    display: grid inline;
}
section {
    height: min-content;
    border: 5px #8b4513;
    display: grid inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#About .profile-img {
    display: inline;
    width: 300px;
    border-radius: 25%;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #006400;
  }
  
  .flex-container > div {
    background-color: #daa520;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
  }

#About h1 {
    font-size: larger;
    padding-bottom: 0%;
}
section h2 {
    font-size: large;
    padding-bottom: 10%;
}
section h3 {
    font-size: medium;
    padding-bottom: 10%;
}
header a {
    text-decoration: #b22222;
    color: #000000;
    padding-bottom: 20%;
}
footer {
    left: 0%;
    width: 90%;
    display: grid;
    text-align: center;
    padding: 5%;
    font-size: 30%;
    z-index: +1;
    position: fixed;
    bottom: 0;
}